<h2>Todos Lab</h2>

{{#if todos.length}}
<ul>
{{#each todos}}
    <li class="todo">
        <form action="/delete" method="POST"> 
            <label>
                {{#if completed}}
                    <input type="checkbox" checked>
                    <span class="comleted">{{name}} {{description}}
                    </span>
                {{else}}
                    <input type="checkbox" onChange="functionChanged();">
                    <span> {{name}} {{description}}
                    </span>
                {{/if}}
                <input type="hidden" value="{{id}}" name="id">

                <button class="btn btn-small" type="submit">Delete</button>
            </label>
        </form>
    </li>
{{/each}}
</ul>
    
{{else}}
    <p>No Todos!</p>
{{/if}}
